/* .feature-section {
}

.feature-card {
  border-color: var(--gray-6);
  background-color: var(--gray-2);
  transition: all 0.3s ease;
}

.feature-card:hover {
  border-color: var(--gray-7);
  box-shadow: 0 10px 30px -10px var(--gray-6);
}

.feature-card-gradient {
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--gray-12) 0%, transparent),
    color-mix(in srgb, var(--gray-12) 0%, transparent),
    color-mix(in srgb, var(--gray-12) 70%, transparent)
  );
  transition: all 0.3s ease;
}

.feature-card:hover .feature-card-gradient {
  background: linear-gradient(
    to bottom,
    color-mix(in srgb, var(--gray-12) 10%, transparent),
    color-mix(in srgb, var(--gray-12) 20%, transparent),
    color-mix(in srgb, var(--gray-12) 80%, transparent)
  );
}

.feature-spotlight {
  --spotlight-color: var(--gray-3);
  --spotlight-size: 200px;
}

.feature-card-title {
  color: var(--gray-1);
}

.feature-card-description {
  color: var(--gray-3);
}

.feature-header {
  background-color: var(--gray-1);
}

.feature-header-content {
  background-color: color-mix(in srgb, var(--gray-1) 5%, transparent);
  backdrop-filter: blur(8px);
  border-color: color-mix(in srgb, var(--gray-1) 10%, transparent);
}

.feature-header-content:hover {

}

.feature-tagline {
  color: var(--gray-11);
}

.feature-heading {
  color: var(--gray-12);
}

.feature-description {
  color: var(--gray-11);
} */
